@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");

}

* {
    box-sizing: border-box;
}

/* .container {
    max-width: 1440px;
    margin: 0;
} */

.title {
    font-size: 20px;
    color: #6d483a;
    border: 1px solid #c0a08f;
    background-color: #c0a08f;
    border-radius: 10px;
    border-width: 20px;
    text-align: center;
}

.body {
    background-color: #fcf9f2;
    font-family: 'Montserrat', sans-serif;
}

.left-column {

    padding: 20px;
}

.right-column {

    padding: 20px;
}

.section {
    font-size: 20px;
}

.name {
    font-size: 50px;
    color: #6d483a;
}

.line-height {
    line-height: 30px;
    color: #6d483a;
}