@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");

}

* {
    box-sizing: border-box;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

body {
    background-color: #fcf9f2;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    font-size: 20px;
    margin: 15px;
    padding-top: 5px;
    width: 50%;
}

@media(max-width: 768px) {
    .section {
        width: 100%;
    }
}

.title {
    font-size: 20px;
    color: #6d483a;
    /* border: 1px solid #c0a08f; */
    background-color: #c0a08f;
    border-radius: 10px;
    /* border-width: 20px; */
    height: 50px;
    width: 300px;
    text-align: center;
    margin: 20px;
    padding-top: 10px;
}


.name {
    font-size: 50px;
    color: #6d483a;
}

.line-height {
    line-height: 30px;
    color: #6d483a;
}

.date {
    font-size: 15px;
    color: #6d483a;
}

.menu {
    color: #6d483a;
    font-size: 15px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}